<h1>Stories</h1>
<section class="row">
    <ul class="search-form col m12">
        <li>    
            <form id="search-form">
                <div class="input-group">
                        <i class="fas fa-search fa-large"></i>
                        <div class="input-field">
                        <input id="search-title" type="search" name='title' placeholder="Search by title" {{#if query}}value="{{query}}"{{/if}}>
                        <label class="label-icon" for="search">
                        </label>
                     </div>
                    <button type="submit" class="input-group-addon btn">search</button>
                </div>
            </form>  
        </li>   
    </ul>
</section>
<section class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <section class="card">
                <div class="card-image">
                    {{!-- Triple curly braces cause otherwise shows html rather than rendered text --}}
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{truncate (stripTags body) 150}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn grey">Read More</a>
                </div>
            </section>
        </div>
    {{else}}
        <p>No stories to display</p>
    {{/each}}
</section>